
genome-feature-files/Mcap.genome_assembly.fa
.Rproj.user
analyses/Characterizing-CpG-Methylation/Meth13.fastp-trim.202003062040_R1_001_bismark_bt2_pe_10x.bedgraph-Mcap.bed-mcGenes
genome-feature-files/Structural_annotation_abintio.gff
data/*bedgraph
analyses/10-unionbedg/Mcap_union_5x.bedgraph
analyses/10-unionbedg/Pact_union_5x.bedgraph
genome-feature-files/C1_CpG.gff
genome-feature-files/Mcap_CpG.gff
genome-feature-files/Pact_CpG.gff
analyses/10-unionbedg/Pact-C1_union_5x.bedgraph
data/Pact_C1/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth4_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth5_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth6_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth7_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth8_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth9_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
