.DS_Store
genome-feature-files/Mcap.genome_assembly.fa
.Rproj.user
analyses/Characterizing-CpG-Methylation/Meth13.fastp-trim.202003062040_R1_001_bismark_bt2_pe_10x.bedgraph-Mcap.bed-mcGenes
genome-feature-files/Structural_annotation_abintio.gff
data/*bedgraph
analyses/10-unionbedg/Mcap_union_5x.bedgraph
analyses/10-unionbedg/Pact_union_5x.bedgraph
genome-feature-files/C1_CpG.gff
genome-feature-files/Mcap_CpG.gff
genome-feature-files/Pact_CpG.gff
analyses/10-unionbedg/Pact-C1_union_5x.bedgraph
data/Pact_C1/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth4_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth5_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth6_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth7_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth8_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
data/Pact_C1/Meth9_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
genome-feature-files/Pocillopora_acuta_genome_v1.fasta
genome-feature-files/Pocillopora_acuta_genome_v1.fasta.fai
.git/objects/pack/pack-544aa5148f82242f76824a1ceccd00be59321599.pack
data/gannet.fish.washington.edu/tmp/nodedup-r2/Meth14.fastp-trim.202003064415_R1_001_bismark_bt2_pe.bismark.cov
data/gannet.fish.washington.edu/tmp/nodedup-r2/Meth13.fastp-trim.202003062040_R1_001_bismark_bt2_pe.bismark.cov
data/gannet.fish.washington.edu/tmp/nodedup-r2/Meth15.fastp-trim.202003065503_R1_001_bismark_bt2_pe.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/nodedup/Meth14.fastp-trim.202003064415_R1_001_bismark_bt2_pe.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/nodedup/Meth13.fastp-trim.202003062040_R1_001_bismark_bt2_pe.sorted.bam
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/nodedup/Meth15.fastp-trim.202003065503_R1_001_bismark_bt2_pe.sorted.bam
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/nodedup/Meth13.fastp-trim.202003062040_R1_001_bismark_bt2_pe.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/nodedup/Meth15.fastp-trim.202003065503_R1_001_bismark_bt2_pe.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/nodedup/Meth14.fastp-trim.202003064415_R1_001_bismark_bt2_pe.sorted.bam
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth18.fastp-trim.202003065117_R1_001_bismark_bt2_pe.deduplicated.sorted.bam
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth10.fastp-trim.202003063900_R1_001_bismark_bt2_pe.deduplicated.sorted.bam
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth16.fastp-trim.202003062412_R1_001_bismark_bt2_pe.deduplicated.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth10.fastp-trim.202003063900_R1_001_bismark_bt2_pe.deduplicated.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth11.fastp-trim.202003065734_R1_001_bismark_bt2_pe.deduplicated.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth12.fastp-trim.202003060645_R1_001_bismark_bt2_pe.deduplicated.sorted.bam
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth18.fastp-trim.202003065117_R1_001_bismark_bt2_pe.deduplicated.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth16.fastp-trim.202003062412_R1_001_bismark_bt2_pe.deduplicated.sorted.bam
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth17.fastp-trim.202003063731_R1_001_bismark_bt2_pe.deduplicated.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth12.fastp-trim.202003060645_R1_001_bismark_bt2_pe.deduplicated.bismark.cov
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth11.fastp-trim.202003065734_R1_001_bismark_bt2_pe.deduplicated.sorted.bam
data/gannet.fish.washington.edu/tmp/Mcap_full-u1M/dedup/Meth17.fastp-trim.202003063731_R1_001_bismark_bt2_pe.deduplicated.sorted.bam
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031320-TG-bs/Mcap_tg/dedup/Meth10_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031320-TG-bs/Mcap_tg/dedup/Meth18_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031320-TG-bs/Mcap_tg/dedup/Meth12_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031320-TG-bs/Mcap_tg/dedup/Meth11_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031320-TG-bs/Mcap_tg/dedup/Meth16_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031320-TG-bs/Mcap_tg/dedup/Meth17_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Pact_tg/nodedup/Meth4_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Pact_tg/dedup/Meth7_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Pact_tg/dedup/Meth2_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Pact_tg/dedup/Meth8_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Pact_tg/dedup/Meth9_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Pact_tg/dedup/Meth1_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Pact_tg/dedup/Meth3_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Mcap_tg/nodedup/Meth15_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Mcap_tg/nodedup/Meth14_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Mcap_tg/nodedup/Meth13_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Mcap_tg/dedup/Meth10_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Mcap_tg/dedup/Meth18_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Mcap_tg/dedup/Meth12_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Mcap_tg/dedup/Meth11_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Mcap_tg/dedup/Meth16_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-100g/Mcap_tg/dedup/Meth17_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-bs/Pact_tg/nodedup/Meth6_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-bs/Pact_tg/nodedup/Meth5_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-bs/Pact_tg/nodedup/Meth4_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/032320-Pact-C1/Pact_C1/nodedup/Meth5_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/032320-Pact-C1/Pact_C1/dedup/Meth7_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/032320-Pact-C1/Pact_C1/dedup/Meth7_R1_001_val_1_bismark_bt2_pe.deduplicated..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/032320-Pact-C1/Pact_C1/dedup/Meth8_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/032320-Pact-C1/Pact_C1/dedup/Meth9_R1_001_val_1_bismark_bt2_pe.deduplicated..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/032320-Pact-C1/Pact_C1/dedup/Meth8_R1_001_val_1_bismark_bt2_pe.deduplicated..CpG_report.merged_CpG_evidence.cov
data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/032320-Pact-C1/Pact_C1/dedup/Meth9_R1_001_val_1_bismark_bt2_pe..CpG_report.merged_CpG_evidence.cov
analyses/Characterizing-CpG-Methylation/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-mcGenes
analyses/Characterizing-CpG-Methylation/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-mcGenes
analyses/Characterizing-CpG-Methylation/Mcap/Meth13_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-mcGenes
analyses/Characterizing-CpG-Methylation/Mcap/Meth13_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-mcGenes
analyses/Characterizing-CpG-Methylation/Mcap/Meth14_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-mcGenes
analyses/Characterizing-CpG-Methylation/Mcap/Meth14_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-mcGenes
analyses/Characterizing-CpG-Methylation/Mcap/Meth15_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-mcGenes
analyses/Characterizing-CpG-Methylation/Mcap/Meth15_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-mcGenes
analyses/Characterizing-CpG-Methylation/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._10x.bedgraph
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph
analyses/Characterizing-CpG-Methylation/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._10x.bedgraph
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth
analyses/Characterizing-CpG-Methylation/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed
analyses/Characterizing-CpG-Methylation/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-paGenes
analyses/Characterizing-CpG-Methylation/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-paGenes
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-paGenes
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-paGenes
analyses/Characterizing-CpG-Methylation/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-paGenes
analyses/Characterizing-CpG-Methylation/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-paGenes
analyses/Characterizing-CpG-Methylation/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-paCDS
analyses/Characterizing-CpG-Methylation/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-paCDS
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-paCDS
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-paCDS
analyses/Characterizing-CpG-Methylation/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-paCDS
analyses/Characterizing-CpG-Methylation/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-paCDS
analyses/Characterizing-CpG-Methylation/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-paIntron
analyses/Characterizing-CpG-Methylation/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-paIntron
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph-unMeth.bed-paIntron
/data/gannet.fish.washington.edu/seashell/bu-mox/scrubbed/031520-TG-bs
analyses/Characterizing-CpG-Methylation/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._10x.bedgraph.bed-paIntron
analyses/pan-genome-cov-full/*.cov
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth18_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth17_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth16_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth15_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth14_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth13_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth11_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth10_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-mcGenes
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth10_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-mcGenes
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth11_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-mcGenes
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-mcGenes
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-mcIntrons
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth12_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-mcIntrons
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth11_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-mcIntrons
analyses/Characterizing-CpG-Methylation-5x/Mcap/Meth10_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-mcIntrons
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth9_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth8_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth7_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth6_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth5_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth4_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paGenes
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paGenes
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paGenes
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paGenes
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paGenes
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paGenes
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth7_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paGenes
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth9_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paGenes
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth9_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paCDS
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth7_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paCDS
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paCDS
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paCDS
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paCDS
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paCDS
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paCDS
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paCDS
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paIntron
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth1_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paIntron
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paIntron
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paIntron
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paIntron
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paIntron
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth9_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paIntron
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth3_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paIntergenic
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph.bed-paIntergenic
analyses/Characterizing-CpG-Methylation-5x/Pact/Meth2_R1_001_val_1_bismark_bt2_pe._5x.bedgraph-unMeth.bed-paIntergenic
.DS_Store
